<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    {{!-- header --}}
    {{>header}}

    {{!-- Menu --}}
   {{>menu}}

            <h1 class="text-green-600 px-4 font-semibold text-xl">{{Message}}</h1>
            <h1 class="text-red-500 px-4 font-semibold text-xl">{{gMessage}}</h1>
    {{!-- packages --}}
    <div class="px-4 py-2   h-full  space-y-4">
        <p class="text-xl font-bold">Packages</p>

        <div class="flex space-x-4 justify-between">
            <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                <div class="p-5">

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Level 1</h5>

                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Investment 1500</p>
                    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400 ">Profit per assignment 825</p>
                    <p>Validity : <span class="font-bold">30 Days</span></p>

                    <a href="/packages-details?level=level1&Investment=1500&profit=825"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        buy Now

                    </a>
                </div>
            </div>
            <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                <div class="p-5">
                    <p>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Level 2</h5>

                    </p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Investment 2500</p>

                    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400 ">Profit per assignment 1375</p>
                    <p>Validity : <span class="font-bold">30 Days</span></p>
                    <a href="/packages-details?level=level2&Investment=2500&profit=1375"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        buy now

                    </a>
                </div>
            </div>
        </div>
        <div class="flex space-x-4 justify-between">
            <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                <div class="p-5">
                    <p>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Level 3</h5>

                    </p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Investment 3500</p>

                    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400 ">Profit per assignment 1925
</p>
                    <p>Validity : <span class="font-bold">30 Days</span></p>
                    <a href="/packages-details?level=level3&Investment=3500&profit=1925"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        buy now

                    </a>
                </div>
            </div>
            <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                <div class="p-5">
                    <p>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Level 4</h5>

                    </p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Investment 5000</p>

                    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400 ">Profit per assignment 2750</p>
                    <p>Validity : <span class="font-bold">30 Days</span></p>
                    <a href="/packages-details?level=level4&Investment=5000&profit=2750"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        buy now

                    </a>
                </div>
            </div>
        </div>



    </div>


    {{!-- footer --}}
    {{>footer}}


    
</body>

</html>