 <section class="bg-gradient-to-t from-blue-300 dark:bg-gray-900">
    <a href="/logout" class="bg-gray-200 font-semibold px-4 py-2 rounded hover:text-white hover:bg-black">Logout</a>
        <div class="flex flex-col items-center justify-center px-6  mx-auto md:h-screen lg:py-0">
            <a href="#" class="flex items-center font-bold  text-2xl font-semibold text-gray-900 dark:text-white">
                <img class="w-22 h-22 mr-2" src="/logo.png" alt="logo" />
               
            </a>

        </div>
    </section>

    <div class="flex items-center px-40 justify-between bg-blue-300 text-center">
        <h2 class="text-2xl font-semibold  text-white">Total Balance: {{balance}}</h2>
    </div>