<div class="px-4 py-2 border-b border-blue-400">
    <p class="font-bold text-xl">Menu</p>
    <div class="flex justify-between space-y-2">
        <div class="hidden"></div>
        <div>
            <a href="/task">

                <i class="far fa-file-alt fa-2x text-blue-800 hover:text-blue-400"></i>
                <p class="text-center font-sermibold py-2">Daily Task</p>
            </a>
        </div>
        <div>
            <a href="/withdraw">
                <i class="fas fa-comment-dollar fa-2x text-blue-800 hover:text-blue-400"></i>
                <p class="text-center font-sermibold py-2">Withdraw</p>
            </a>
        </div>



        <div>
            <a href="/history">

                <i class="fas fa-history fa-2x text-blue-800 hover:text-blue-400"></i>
                <p class="text-center font-sermibold py-2">History</p>
            </a>
        </div>
        <div>
            <a href="https://wa.me/+923184428004
">
                <i class="<i fab fa-whatsapp fa-2x text-blue-800 hover:text-blue-400"></i>
                <p class="text-center font-sermibold py-2">Contact Us</p>
            </a>
        </div>
    </div>

</div>